/* ОСНОВНЫЕ СТИЛИ */

.graph-content {
  /* background-color: var(--joplin-background-color) !important; */
}

#container {
  width: 100%;
  height: 100%;
  font-family: var(--joplin-font-family);
}

#note_graph {
  --distance-0-primary-color: var(--joplin-color);
  --distance-0-secondary-color: var(--joplin-color4);
  --distance-1-primary-color: var(--joplin-color4);
  --distance-1-secondary-color: var(--joplin-color);
  --distance-remaining-primary-color: var(--joplin-background-color-hover3);
  --distance-remaining-secondary-color: var(--joplin-color4);
  --distance-remaining-label-color: var(--joplin-color-faded);
  --hover-primary-color: rgba(147, 245, 0, 0.5);
  --hover-secondary-color: var(--joplin-color-correct);
}


/* СТИЛИ ЭЛЕМЕНТОВ УПРАВЛЕНИЯ */

details {
    margin: 5px 0 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

details:not([open]) {
    height: 1.5em;
}

details[open] {
    height: 19em;
}

details:hover {
    cursor: pointer;
}

details > summary {
    padding-bottom: 6px;
}

input[type="button"] {
    background-color: #fff;
    transition: background-color 0.3s ease-out;
    border-radius: 5px;
    margin-bottom: 3px;
    height: 25px;
}

input[type="button"]:hover {
    background-color: #999;
}

input:focus, select:focus {
    outline: none;
}

input:checked + .toggle {
  background-color: #595;
}

input:focus + .toggle {
  box-shadow: 0 0 1px #595;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.buttons-block input {
    flex-basis: 50%;
}

.buttons-block, .control-block, .force-block {
    gap: 10px;
    margin: 4px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.control-block input, .control-block select {
    min-width: 80px;
    flex-basis: 30%;
    flex-grow: 3;
    font-family: Roboto;
    font-size: 1em;
    color: #ccc;
    background-color: #333;
    border: none;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

.control-block .label {
    flex-basis: fit-content;
}

.force-block label {
    min-width: 150px;
    flex-basis: 80%;
}

.drag-handle {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0px;
    top: 0px;
    opacity: 1;
    background-color: #333;
    border-radius: 5px 5px 0 0;
}

.drag-handle:hover {
    cursor: grab;
}

.force-block input {
    min-width: 30px;
    flex-basis: 20%;
    flex-shrink: 3;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    outline: none;
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: opacity .3s;
}

.slider:hover {
    background-color: #666;
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #d3d3d3;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

#graph-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: fit-content;
    width: 220px;
    border: 1px solid #222;
    border-radius: 5px;
    background-color: #333;
    padding: 30px 10px 15px 10px;
}


