circle {
  stroke: var(--joplin-color2);
  stroke-width: 1px;
}

line {
  stroke: var(--distance-remaining-primary-color);
  stroke-opacity: 0.8;
}

.adjacent-line {
  stroke: var(--distance-0-primary-color);
  stroke-width: 3px;
  stroke-opacity: 0.8;
}

.current-note {
  stroke: var(--joplin-color2);
  stroke-width: 4px;
}

.draggable-field {
  height: 15px;
  width: 30%;
  background-image: repeating-linear-gradient(45deg, #ccc, #ccc 5px, #eee 5px, #eee 10px);
  opacity: 0.5;
  margin: 0 0 5px 0;
}

.draggable-field:hover {
  cursor: grab;
  filter: brightness(50%);
}

.graph-content {
  text-align: center;
  background-color: var(--joplin-background-color) !important;
}

.graph-content > .container {
  /* anchor the inline settings container */
  position:relative;
} 

.highlighted {
  fill: rgb(113, 165, 0);
  stroke: rgb(70, 120, 0);
}

.hovered {
  filter: brightness(50%);
}

.inward-link {
  stroke-dasharray: 3;
}

.tooltip {
  position: absolute;
  /*transform: translateX(-50%); */
  margin-top: 10px;
  display: flex;
  column-gap: 5px;
  row-gap: 3px;
  flex-wrap: wrap;
  flex-direction: row;
}

.tooltip.hidden {
  display: none;
}

.tooltip .node-hover-tag {
   background-color: var(--joplin-background-color-hover3); 
   border-radius: 100px;
   padding: 3px 5px 3px 5px;
}

#container {
  width: 100%;
  height: 100%;
  font-family: var(--joplin-font-family);
}

#legend {
  position: absolute;
  top: 10px;
  left: 350px;
  background-color: var(--joplin-background-color2);
  border-radius: 5px;
  padding: 6px;
}

#note_graph {
  --distance-0-primary-color: var(--joplin-color);
  --distance-0-secondary-color: var(--joplin-color4);
  --distance-1-primary-color: var(--joplin-color4);
  --distance-1-secondary-color: var(--joplin-color);
  --distance-remaining-primary-color: var(--joplin-background-color-hover3);
  --distance-remaining-secondary-color: var(--joplin-color4);
  --distance-remaining-label-color: var(--joplin-color-faded);
  --hover-primary-color: rgba(147, 245, 0, 0.5);
  --hover-secondary-color: var(--joplin-color-correct);
}

#redraw-btn {
  background-color: var(--joplin-color-correct);
  border: none;
  color: var(-joplin-color5);
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
  width: 100%;
  border-radius: 3px;
}

#user-input-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5px;
  background-color: var(--joplin-background-color2);
  color: var(--joplin-color2);
  border-radius: 5px;
  padding: 6px;
  opacity: 0.8;
  width: 300px;
}

#user-input-container label, #user-input-container output {
  user-select: none;
}

